 body
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff9f2;
    transform: scale(1);
}
.flag
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    animation: flagzoom 0.5s linear forwards;
    animation-delay: 2s;
}

.flag h1
{
position: absolute;
top: 15vh;
left: 40%;
font-family: sans-serif;
font-size: 40px;
color: cornsilk;
opacity: 0;
animation: h1 0.5s linear forwards ;
animation-delay: 3s;

}

@keyframes h1{
    0%{
        transform: translate(-50%,-50%) scale(5);
        opacity: 0;
    }
    100%{
        transform: translate(-50%,-50%) scale(1);
        opacity: 1;
    }
} 

.flag h2
{
position: absolute;
bottom: 9vh;
left: 63%;
font-family: sans-serif;
font-size: 30px;
color: cornsilk;
opacity: 0;
animation: h2 0.5s linear forwards ;
animation-delay: 3s;

}

@keyframes h2{
    0%{
        transform: translate(-50%,-50%) scale(5);
        opacity: 0;
    }
    100%{
        transform: translate(-50%,-50%) scale(1);
        opacity: 1;
    }
} 
/*media query used*/
     @media only screen and (max-width: 650px ) {
   
    .flag h1
    {
    position: absolute;
    top: 25vh;
    left: 45%;
    font-family: sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: cornsilk;
    opacity: 0;
    animation: h1 0.5s linear forwards ;
    animation-delay: 3s;
    
    }
    
    @keyframes h1{
        0%{
            transform: translate(-50%,-50%) scale(5);
            opacity: 0;
        }
        100%{
            transform: translate(-50%,-50%) scale(1);
            opacity: 1;
        }
    } 
    
    .flag h2
    {
    position: absolute;
    bottom: 10vh;
    left: 50%;
    font-family: sans-serif;
    font-size: 30px;
    color: cornsilk;
    opacity: 0;
    animation: h1 0.5s linear forwards ;
    animation-delay: 3s;
    
    }
    
    @keyframes h2{
        0%{
            transform: translate(-50%,-50%) scale(5);
            opacity: 0;
        }
        100%{
            transform: translate(-50%,-50%) scale(1);
            opacity: 1;
        }
    } 

  } 



@keyframes flagzoom
{
    0%{
        transform: rotate(0deg) scale(1);
    }
    100%{
        transform: rotate(-15deg) scale(1.5);
    }
}

.flag .color1
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 33vh;
    background: #ff9933;
    transform: scale(0);
    animation: color1 1s linear forwards;
    transform-origin: left;
    animation-delay: 1s;
    /* animation-duration: calc(3s); */
    }
    
@keyframes color1{
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}
.flag .color2
{
position: absolute;
bottom: 0;
/* top: 67vh; */
left: 0;
width: 100%;
height: 33vh;
background: #138808;
transform: scale(0);
animation: color2 1s linear forwards;
transform-origin: right;
animation-delay: 1s;
/* animation-duration: calc(3s); */
}
    
@keyframes color2{
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}
 .chakra
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    z-index: 1;
    animation: fadeIn 0.5s linear forwards;
    animation-delay: 2s;
} 
 @keyframes fadeIn{
    0%{
        transform: translate(-50%,-50%) scale(5);
        opacity: 0;
    }
    100%{
        transform: translate(-50%,-50%) scale(1);
        opacity: 1;
    }
} 
 .chakra img
{
margin-top: 0.5vh;
height: 34vh;
animation: rotate 20s linear infinite;

} 
 @keyframes rotate
{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}  
